<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<div class="contents-main">
  <% @meetings.each do |meeting| %>
    <div class="meeting-options">
      <ul>
        <li>
            <%= link_to '詳細をみる', meeting_path(meeting.id), method: :get %>
        </li>
        <% if user_signed_in? && current_user.id == meeting.user_id %>
        <li>
          <%= link_to '募集を終了する', meeting_path(meeting.id), method: :delete %>
        </li>
        <% end %>
      </ul>
    </div>
    <div class="meeting-title">
      <%= meeting.title %>
    </div>
    <div class="meeting-detail">
      <%= meeting.content %>
    </div>
    <div class="meeting-user">
      <%= meeting.user.nickname %>
    </div>
  <% end %>
</div>