<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<div class="contents-main">
  <% @meetings.each do |meeting| %>
    <div class="meeting-options">
      <ul>
        <li>
          <%= link_to '募集を終了する', meeting_path(meeting.id), method: :delete %>
        </li>
      </ul>
    </div>
    <div class="meeting-title">
      <%= meeting.title %>
    </div>
    <div class="meeting-about">
      <%= meeting.date_time %>
      <%= meeting.plece %>
      <%= meeting.number %>
      <%= meeting.target_person %>
    </div>
    <div class="meeting-detail">
      <%= meeting.content %>
    </div>
  <% end %>
</div>