<div class="contents-main">
  <div class="container">
    <%= form_with model: @meeting, url: meetings_path, local: true do |f| %>
      <h3>オフ会を募集する</h3>
      タイトル
      <div class="form-group">
        <%= f.text_field :title, class: "form-control", placeholder: "タイトル" %>
      </div>
      日時
      <div class="form-group">
        <%= f.text_field :date_time, class: "form-control", placeholder: "（例）3月24日夕方6時ごろから" %>
      </div>
      場所
      <div class="form-group">
        <%= f.text_field :plece, class: "form-control", placeholder: "場所" %>
      </div>
      予定人数
      <div class="form-group">
        <%= f.text_field :number, class: "form-control", placeholder: "人数"%>
      </div>
      対象者
      <div class="form-group">
        <%= f.text_field :target_person, class: "form-control" %>
      </div>
      募集要項
      <div class="form-group">
        <%= f.text_area :content, class: "form-control" %>
      </div>
      <%= f.submit "募集する", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>