<div class="contents-main">
  <div class="meeting-title">
      <%= @meeting.title %>
  </div>
  <div class="meeting-about">
      <%= @meeting.date_time %>
      <%= @meeting.plece %>
      <%= @meeting.number %>
      <%= @meeting.target_person %>
  </div>
  <div class="meeting-detail">
      <%= @meeting.content %>
  </div>
  <%= link_to "このオフ会に申し込む", "/users/#{@meeting.user_id}"  %>
</div>