<div class="group-speak">
  <h2><%= @group.name %></h2>
  <div class="speaks">
    <%= render partial: 'speak', collection: @speaks %>
  </div>
  
  <%= form_with model: [@group, @speak], html: {class: "form"}, local: true do |f| %> 
    <div class="form-group">
       <%= f.text_field :content, placeholder: 'つぶやきを入力', class: "form-control" %>
       <label class="form-image">
         <span class="image-file">画像</span>
         <%= f.file_field :image, class: 'hidden', class: "form-control" %>
       </label>
    </div>
    <%= f.submit '送信', class: "btn btn-primary" %>
  <% end %>
  <br>
  <br>
  <%= link_to "グループ一覧ページへ戻る", groups_path %>
</div>