<div class="more">
   
   <table class="table">
      <thead>
        <tr>
          <th scope="row"><%= link_to review.title, review_path(review.id) %></th>
        </tr>
        <tr>
          <th scope="row">画像</th>
          <td class="detail-value">
            <% review.images.each do |image| %>
              <%= image_tag image.variant(resize:'300x300'), class: 'images' %>
            <% end %>
          </td>
        </tr>
        <tr>
          <th scope="row">施術部位</th>
          <td class="detail-value"><%= review.treatment_site %></td>
        </tr>
        <tr>
          <th scope="row">施術を受けた日</th>
          <td class="detail-value"><%= review.date %></td>
        </tr>
        <tr>
          <th scope="row">施術を受けたクリニック</th>
          <td class="detail-value"><%= review.clinic %></td>
        </tr>
        <tr>
          <th scope="row">投稿者</th>
          <td class="detail-value"><%= review.user.nickname %></td>
        </tr>
        
      </thead>
    </table>
    <br>
    <br>
</div>