<div class="more">
  <ul class="review-list">
    <li>
      <%= review.title%>
    </li>
    <li>
      <%= review.treatment_site%>
    </li>
    <li>
      <%= review.date%>
    </li>
    <li>
      <%= review.clinic%>
    </li>
    <li>
      <%= review.docter%>
    </li>
    <li>
      <%= review.price%>
    </li>
    <li>
      <%= review.content%>
    </li>
    <li>
       <%= image_tag review.image.variant(resize:'500x500'), class: 'review-image' if review.image.attached?%>
    </li>
  </ul>
   <span>投稿者</span><%= review.user.nickname %>
</div>