<div class="review-content">
  <br>
  <br>
  <br>
  <div class="review-main">
    <h2 class="main-title">
      口コミを投稿する
    </h2>
    <%= form_with(model: @review, url: {controller: 'reviews', action: 'create'}, local: true) do |f| %>
      <div class="review-title">
        タイトル
      </div>
      <div class="form-group">
        <%= f.text_area :title, class: "form-control" %>
      </div>
      <div class="review-treatment">
        整形した部位
      </div>
      <div class="form-group">
        <%= f.text_area :treatment_site, class: "form-control" %>
      </div>
      <div class="review-date">
        施術した日
      </div>
      <div class="form-group">
        <%= f.text_area :date, class: "form-control"%>
      </div>
      <label class="form-image">
        <span class="image-file">画像</span>
      <%= f.file_field :images, name: 'review[images][]', id: 'review_image' %>
      </label>
      <div id="image-list"></div>
      <div class="review-clinic">
        施術を受けたクリニック
      </div>
      <div class="form-group">
        <%= f.text_area :clinic, class: "form-control"%>
      </div>
      <div class="review-docter">
        担当医
      </div>
      <div class="form-group">
        <%= f.text_area :docter, class: "form-control"%>
      </div>
      <div class="review-price">
        金額
      </div>
      <div class="form-group">
        <%= f.text_area :price, class: "form-control"%>
      </div>
      <div class="review-content">
        内容
      </div>
      <div class="form-group">
        <%= f.text_area :content, class: "form-control"%>
      </div>
      <%= f.submit "口コミを投稿する", class: "btn btn-primary" %>
      
    <% end %>
  </div>
</div>