<div class="review-detail">
  <ul class="detail-list">
    <li>
      <%= @review.title%>
      <%= link_to @review.user.nickname, " /users/#{@review.user_id}"%>
    </li>
    <li>
      <%= @review.treatment_site%>
    </li>
    <li>
      <%= @review.date%>
    </li>
    <li>
      <%= @review.clinic%>
    </li>
    <li>
      <%= @review.docter%>
    </li>
    <li>
      <%= @review.price%>
    </li>
    <li>
      <%= @review.content%>
    </li>
    <li>
       <% review.images.each do |image| %>
         <%= image_tag image, class: 'images' %>
       <% end %>
    </li>
  </ul>
  <div class="container">
    <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.content %>
          </p>
        <% end %>
      <% end %>
    </div>
    <% if current_user %>
      <%= form_with(model: [@review, @comment], local: true) do |f| %>
        <%= f.text_area :content, placeholder: "コメントする", rows: "2" %>
        <%= f.submit "送信する" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
</div>