<div class="review-detail">
  <table class="table">
    <tr><td>タイトル</td><td><%= @review.title %></td></tr>
    <tr><td>投稿者</td><td><%= @review.user.nickname %></td></tr>
    <tr><td>施術部位</td><td><%= @review.treatment_site %></td></tr>
    <tr>
      <td>写真</td>
      <td>
        <% @review.images.each do |image| %>
            <%= image_tag image, class: 'images' %>
        <% end %>
      </td>
    </tr>
    <tr><td>施術した日</td><td><%= @review.date %></td></tr>
    <tr><td>施術したクリニック</td><td><%= @review.clinic %></td></tr>
    <tr><td>担当医</td><td><%= @review.docter %></td></tr>
    <tr><td>料金</td><td><%= @review.price %></td></tr>
    <tr><td>感想</td><td><%= @review.content %></td></tr>
  </table>
  
  <div class="container">
    <div class="comments">
      <h2>＜コメント一覧＞</h2>
      <% if @comments %>
        <% @comments.each do |comment| %>
          <p>
            <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
            <%= comment.content %>
          </p>
        <% end %>
      <% end %>
    </div>
    <% if current_user %>
      <%= form_with(model: [@review, @comment], local: true) do |f| %>
        <%= f.text_area :content, placeholder: "コメントする", rows: "2" %>
        <%= f.submit "送信する" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %>
  </div>
</div>